<catalogs-component></catalogs-component>
<h5>Catalogos - Relaciones en Roles</h5>
<div>
  SourceId:
<input  placeholder="SourceId" (input)="userID=$event.target.value">
<input type="submit" value="Consultar">

  TargetId:
<input  placeholder="TargetId" (input)="userID=$event.target.value">
<input type="submit" value="Consultar">
</div>

<table  border=1 style="width:90%">
  <tr style='text-decoration: underline'>
    <th>LinkId</th>
    <th>TypeRelationId</th>
    <th>SourceId</th>
    <th>TargetId</th>
    <th>LinkIndex</th>
    <th>LInkStatus</th>
    <th>StartDate</th>
    <th>EndDate</th>
  </tr>
    <tr>
    <th>5656</th>
    <th>99</th>
    <th>456</th>
    <th>466</th>
    <th>0</th>
    <th>A</th>
    <th>07/11/2017</th>
    <th>31/12/2078</th>
  </tr>
</table>
<br>


<div>
  SourceId (Acto Juridico):
<input  placeholder="SourceId" (input)="userID=$event.target.value">

TargetId (Rol):
<input  placeholder="TargetId" (input)="userID=$event.target.value">

Tipo Relación:
<input  placeholder="Tipo" (input)="userID=$event.target.value">

<input type="submit" value="Guardar Rol">
</div>
<table  border=1 style="width:90%">
  <tr style='text-decoration: underline'>
    <th>LinkId</th>
    <th>TypeRelationId</th>
    <th>SourceId</th>
    <th>TargetId</th>
    <th>LinkIndex</th>
    <th>LInkStatus</th>
    <th>StartDate</th>
    <th>EndDate</th>
  </tr>
    <tr>
    <th>5670</th>
    <th>99</th>
    <th>2204</th>
    <th>1201</th>
    <th>0</th>
    <th>A</th>
    <th>07/11/2017</th>
    <th>31/12/2078</th>
  </tr>
</table>
<br>


<div>
  Link Id:
<input  placeholder="Id" (input)="userID=$event.target.value">
<input type="submit" value="Consultar">
</div>

<br>

<div>
  Link Id:
  <input  placeholder="Id" (input)="userID=$event.target.value">

  Tipo:
 <input  placeholder="Tipo" (input)="userID=$event.target.value">

  LinkIndex:
 <input  placeholder="LinkIndex" (input)="userID=$event.target.value">

 SourceId:
 <input  placeholder="SourceId" (input)="userID=$event.target.value">

 TargetId:
 <input  placeholder="TargetId" (input)="userID=$event.target.value">

 <input type="submit" value="Actualizar">
</div>

<table  border=1 style="width:90%">
  <tr style='text-decoration: underline'>
    <th>LinkId</th>
    <th>TypeRelationId</th>
    <th>SourceId</th>
    <th>TargetId</th>
    <th>LinkIndex</th>
    <th>LInkStatus</th>
    <th>StartDate</th>
    <th>EndDate</th>
  </tr>
    <tr>
    <th>5670</th>
    <th>99</th>
    <th>2204</th>
    <th>1207</th>
    <th>0</th>
    <th>A</th>
    <th>07/11/2017</th>
    <th>31/12/2078</th>
  </tr>
</table>
<br>
