<catalogs-component></catalogs-component>
<h5>Catalogos - Alta de Usuarios</h5>
<div>
  Usuario a Consultar:
<input  size="65" placeholder="Usuario" (input)="userID=$event.target.value">
<input type="submit" value="Consultar Usuario">
</div>
<table  border=1 style="width:80%">
  <tr style='text-decoration: underline'>
    <th>ContactId</th>
    <th>ContactTypeId</th>
    <th>ContactIdFullName</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>LastName2</th>
    <th>ShortName</th>
    <th>NickName</th>
    <th>ContactStatus</th>
    <th>UserName</th>
    <th>Password</th>
  </tr>
    <tr>
    <th>394</th>
    <th>102</th>
    <th>Eymard Pavón Juarez</th>
    <th>Eymard</th>
    <th>Pavón</th>
    <th>Juarez</th>
    <th>Eymard Pavón Juarez</th>
    <th>EPJ</th>
    <th>A</th>
    <th>Eymard Pavón</th>
    <th>*************</th>
  </tr>
</table> 
<br>

<div>
Nombre(s):
<input  placeholder="Nombre" (input)="userID=$event.target.value">

Paterno:
<input  placeholder="Paterno" (input)="userID=$event.target.value">

Materno:
<input  placeholder="Materno" (input)="userID=$event.target.value">

Nickname (Inicales del usuario):
<input  placeholder="Nickname" (input)="userID=$event.target.value">
<br>
User Name:
<input  placeholder="User Name" (input)="userID=$event.target.value">

E-Mail:
<input  placeholder="E-Mail" (input)="userID=$event.target.value">

PassWord:
<input  placeholder="PassWord" (input)="userID=$event.target.value">

<input type="submit" value="Guardar Usuario">
</div>
<table  border=1 style="width:80%">
  <tr style='text-decoration: underline'>
    <th>ContactId</th>
    <th>ContactTypeId</th>
    <th>ContactIdFullName</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>LastName2</th>
    <th>ShortName</th>
    <th>NickName</th>
    <th>ContactStatus</th>
    <th>UserName</th>
    <th>Password</th>
  </tr>
    <tr>
    <th>999</th>
    <th>102</th>
    <th>Fernanda Texis Rios</th>
    <th>Fernanda</th>
    <th>Texis</th>
    <th>Rios</th>
    <th>Fernanda Texis Rios</th>
    <th>FTR</th>
    <th>A</th>
    <th>Fernanda Texis</th>
    <th>***************</th>
  </tr>
</table> 

<div>
  Id Usuario:
<input  placeholder="Id" (input)="userID=$event.target.value">
<input type="submit" value="Consultar Usuario">
</div>

<br>

<div>
  Id Usuario:
  <input  placeholder="Id" (input)="userID=$event.target.value">

  Nombre(s):
 <input  placeholder="Nombre" (input)="userID=$event.target.value">

  Paterno:
 <input  placeholder="Paterno" (input)="userID=$event.target.value">

  Materno:
 <input  placeholder="Materno" (input)="userID=$event.target.value">

 NickName:
 <input  placeholder="NickName" (input)="userID=$event.target.value">
 <br>
 User Name:
 <input  placeholder="User Name" (input)="userID=$event.target.value">

 E-Mail:
 <input  placeholder="E-Mail" (input)="userID=$event.target.value">
 
 PassWord:
 <input  placeholder="PassWord" (input)="userID=$event.target.value">
 
 <input type="submit" value="Actualizar">
</div>

<table  border=1 style="width:80%">
  <tr style='text-decoration: underline'>
    <th>ContactId</th>
    <th>ContactTypeId</th>
    <th>ContactIdFullName</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>LastName2</th>
    <th>ShortName</th>
    <th>NickName</th>
    <th>ContactStatus</th>
    <th>UserName</th>
    <th>Password</th>
  </tr>
    <tr>
    <th>999</th>
    <th>102</th>
    <th>Fernanda Texis Rios</th>
    <th>Fernanda</th>
    <th>Texis</th>
    <th>Rios</th>
    <th>Fernanda Texis Rios</th>
    <th>FTR</th>
    <th>A</th>
    <th>Fernanda Texis</th>
    <th>*****************</th>
  </tr>
</table> 