
<catalogs-component></catalogs-component>
 <h5>Catalogos - Alta de Notarios</h5>
 <br>
<div>
    Notario a Consultar:
 <input size="65" placeholder="Notario" (input)="userID=$event.target.value">
 <input type="submit" value="Consultar Notario">
</div>

<table  border=1 style="width:80%">
  <tr style='text-decoration: underline'>
    <th>ContactId</th>
    <th>ContactTypeId</th>
    <th>ContactIdFullName</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>LastName2</th>
    <th>ShortName</th>
    <th>NickName</th>
    <th>ContactStatus</th>
  </tr>
    <tr>
    <th>80</th>
    <th>102</th>
    <th>María Elena Macias Rivera</th>
    <th>María Elena</th>
    <th>Macias</th>
    <th>Rivera</th>
    <th>María Elena Macias Rivera</th>
    <th></th>
    <th>A</th>
  </tr>
</table> 
<br>
<div>
  Nombre(s):
 <input  placeholder="Nombre" (input)="userID=$event.target.value">
 
  Paterno:
 <input  placeholder="Paterno" (input)="userID=$event.target.value">
 
 Materno:
 <input  placeholder="Materno" (input)="userID=$event.target.value">
 
 <input type="submit" value="Guardar Notario">
</div>

<table  border=1 style="width:80%">
  <tr style='text-decoration: underline'>
    <th>ContactId</th>
    <th>ContactTypeId</th>
    <th>ContactIdFullName</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>LastName2</th>
    <th>ShortName</th>
    <th>NickName</th>
    <th>ContactStatus</th>
  </tr>
  <tr>
    <th>179</th>
    <th>102</th>
    <th>Jorge Huerta Avila</th>
    <th>Jorge</th>
    <th>Huerta</th>
    <th>Avila</th>
    <th>Jorge Huerta Avila</th>
    <th></th>
    <th>A</th>
  </tr>
  </table>

<br>

<div>
    Id Notario:
 <input  placeholder="Id" (input)="userID=$event.target.value">
 <input type="submit" value="Consultar Notario">
</div>

<br>

<div>
    Id Notario:
    <input  placeholder="Id" (input)="userID=$event.target.value">
 
    Nombre(s):
   <input  placeholder="Nombre" (input)="userID=$event.target.value">

    Paterno:
   <input  placeholder="Paterno" (input)="userID=$event.target.value">

   Materno:
   <input  placeholder="Materno" (input)="userID=$event.target.value">

   <input type="submit" value="Actualizar">
  </div>

  <table  border=1 style="width:80%">
    <tr style='text-decoration: underline'>
      <th>ContactId</th>
      <th>ContactTypeId</th>
      <th>ContactIdFullName</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>LastName2</th>
      <th>ShortName</th>
      <th>NickName</th>
      <th>ContactStatus</th>
    </tr>
    <tr>
      <th>179</th>
      <th>102</th>
      <th>Jorge Huerta Avila</th>
      <th>Jorge</th>
      <th>Huerta</th>
      <th>Avila</th>
      <th>Jorge Huerta Avila</th>
      <th></th>
      <th>A</th>
    </tr>
    </table>
