<br />

<div class="row footer-separator">
  <div class="columns small-6">
    <a href='http://www.tlaxcala.gob.mx/' target='_blank'>
      <img src="././assets/images/customer/secondary.logo.png" alt="" title="Secretaría de Gobierno del Estado de Tlaxcala" />
    </a>
  </div>
  <div class="columns small-6 text-right">
    <a href='http://contraloria.tlaxcala.gob.mx/pdf/contenidob1.pdf' target='_blank'>
      <img src="././assets/images/customer/honestidad.jpg" alt="" title="Honestidad Tlaxcala" />
    </a>
  </div>
</div>


<footer class="row small-collapse">
  <div class='show-for-medium copyright'>
    &copy; 2017. Dirección de Notarías y Registros Públicos. Secretaría de Gobierno del Estado de Tlaxcala.
  </div>
  <div class='hide-for-medium copyright'>
    &copy; Secretaría de Gobierno del Estado de Tlaxcala.
  </div>
</footer>

<br /><br /><br />&nbsp;