<div style='text-align:center'>
<ul class="menu">

  <li><a class="selected" routerLink="/login">Login</a></li>
  <li><a class="selected" routerLink="/catalogs">Catalogos</a></li>
  <li><a class="selected" routerLink="/support">Soporte Técnico</a></li>
  <li><a class="selected" routerLink="/configuration">Configuración</a></li>
  <li><a class="selected" routerLink="/reports">Reportes</a></li>
  <li><a class="selected" routerLink="/others">Otros</a></li>  
</ul>
</div>
<!--
<button mat-button [matMenuTriggerFor]="menu1">Menu1</button>
<mat-menu #menu1="matMenu">
  <button  mat-menu-item>1Item 1</button>
  <button  mat-menu-item>1Item 2</button>
</mat-menu> 

<button mat-button [matMenuTriggerFor]="menu2">Menu2</button>
<mat-menu #menu2="matMenu">
  <button mat-menu-item>2Item 1</button>
  <button mat-menu-item>2Item 2</button>
</mat-menu>
-->