<catalogs-component></catalogs-component>
<h5>Catalogos - Consulta de Ciudades</h5>
<br>
<div>
  Ciudad a Consultar:
<input size="65" placeholder="Ciudad" (input)="userID=$event.target.value">
<input type="submit" value="Consultar">
</div>

<br>
<br>

<table  border=1 style="width:80%">
  <tr style='text-decoration: underline'>
    <th>GeoItemId</th>
    <th>GeoItemTypeId</th>
    <th>GeoItemName</th>
    <th>GeoItemFullName</th>
    <th>GeoItemKeyWords</th>
    <th>GeoItemStatus</th>
  </tr>
    <tr>
    <th>208197</th>
    <th>309</th>
    <th>Tlaxcala de Xicohténcatl</th>
    <th>Tlaxcala de Xicohténcatl, Tlaxcala, Tlaxcala</th>
    <th>Tlaxcala de Xicohténcatl (Localidad)</th>
    <th>A</th>
  </tr>
  <tr>
    <th>384987</th>
    <th>309</th>
    <th>Santa Cruz Tlaxcala</th>
    <th>Santa Cruz Tlaxcala, Santa Cruz Tlaxcala, Santa Cruz Tlaxcala, Tlaxcala</th>
    <th>Santa Cruz Tlaxcala (Asentamiento)</th>
    <th>A</th>
  </tr>
  <br>
  <br>
</table> 
