<catalogs-component></catalogs-component>
<h5>Catalogos - Alta de Relaciones</h5>
<div>
  SourceId:
<input  placeholder="SourceId" (input)="userID=$event.target.value">
<input type="submit" value="Consultar">

  TargetId:
<input  placeholder="TargetId" (input)="userID=$event.target.value">
<input type="submit" value="Consultar">
</div>

<table  border=1 style="width:90%">
  <tr style='text-decoration: underline'>
    <th>LinkId</th>
    <th>TypeRelationId</th>
    <th>SourceId</th>
    <th>TargetId</th>
    <th>LinkIndex</th>
    <th>LInkStatus</th>
    <th>StartDate</th>
    <th>EndDate</th>
  </tr>
    <tr>
    <th>1280</th>
    <th>91</th>
    <th>3229</th>
    <th>3228</th>
    <th>0</th>
    <th>A</th>
    <th>03/11/2017</th>
    <th>31/12/2078</th>
  </tr>
</table>
<br>

<div>
  SourceId:
<input  placeholder="SourceId" (input)="userID=$event.target.value">

TargetId:
<input  placeholder="TargetId" (input)="userID=$event.target.value">

Tipo Relación:
<input  placeholder="Tipo" (input)="userID=$event.target.value">

<input type="submit" value="Guardar Relación">
</div>

<table  border=1 style="width:90%">
  <tr style='text-decoration: underline'>
    <th>LinkId</th>
    <th>TypeRelationId</th>
    <th>SourceId</th>
    <th>TargetId</th>
    <th>LinkIndex</th>
    <th>LInkStatus</th>
    <th>StartDate</th>
    <th>EndDate</th>
  </tr>
    <tr>
    <th>1282</th>
    <th>91</th>
    <th>3229</th>
    <th>3230</th>
    <th>0</th>
    <th>A</th>
    <th>03/11/2017</th>
    <th>31/12/2078</th>
  </tr>
</table>
<br>

<div>
  Link Id:
<input  placeholder="Id" (input)="userID=$event.target.value">
<input type="submit" value="Consultar">
</div>

<br>

<div>
  Link Id:
  <input  placeholder="Id" (input)="userID=$event.target.value">

  Tipo:
 <input  placeholder="Tipo" (input)="userID=$event.target.value">

  LinkIndex:
 <input  placeholder="LinkIndex" (input)="userID=$event.target.value">

 SourceId:
 <input  placeholder="SourceId" (input)="userID=$event.target.value">

 TargetId:
 <input  placeholder="TargetId" (input)="userID=$event.target.value">

 <input type="submit" value="Actualizar">
</div>

<table  border=1 style="width:90%">
  <tr style='text-decoration: underline'>
    <th>LinkId</th>
    <th>TypeRelationId</th>
    <th>SourceId</th>
    <th>TargetId</th>
    <th>LinkIndex</th>
    <th>LInkStatus</th>
    <th>StartDate</th>
    <th>EndDate</th>
  </tr>
    <tr>
    <th>1282</th>
    <th>91</th>
    <th>3229</th>
    <th>3233</th>
    <th>0</th>
    <th>A</th>
    <th>03/11/2017</th>
    <th>31/12/2078</th>
  </tr>
</table>