<catalogs-component></catalogs-component>
<h5>Catalogos - Alta de Juez</h5>
<br>
<div>
  Juez a Consultar:
<input size="65" placeholder="Juez" (input)="userID=$event.target.value">
<input type="submit" value="Consultar Juez">
</div>

<table  border=1 style="width:80%">
  <tr style='text-decoration: underline'>
    <th>ContactId</th>
    <th>ContactTypeId</th>
    <th>ContactIdFullName</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>LastName2</th>
    <th>ShortName</th>
    <th>NickName</th>
    <th>ContactStatus</th>
  </tr>
    <tr>
    <th>4004</th>
    <th>102</th>
    <th>Jose Luis Moctezuma  Carvajal</th>
    <th>Jose Luis</th>
    <th>Moctezuma</th>
    <th>Carvajal</th>
    <th>Jose Luis Moctezuma  Carvajal</th>
    <th></th>
    <th>A</th>
  </tr>
</table> 
<br>

<div>
Nombre(s):
<input  placeholder="Nombre" (input)="userID=$event.target.value">

Paterno:
<input  placeholder="Paterno" (input)="userID=$event.target.value">

Materno:
<input  placeholder="Materno" (input)="userID=$event.target.value">

<input type="submit" value="Guardar Juez">
</div>

<table  border=1 style="width:80%">
  <tr style='text-decoration: underline'>
    <th>ContactId</th>
    <th>ContactTypeId</th>
    <th>ContactIdFullName</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>LastName2</th>
    <th>ShortName</th>
    <th>NickName</th>
    <th>ContactStatus</th>
  </tr>
  <tr>
    <th>1998</th>
    <th>102</th>
    <th>Francisco Lima Rosas</th>
    <th>Francisco</th>
    <th>Lima</th>
    <th>Rosas</th>
    <th>Francisco Lima Rosas</th>
    <th></th>
    <th>A</th>
  </tr>
  </table>

<br>


<div>
  Id Juez:
<input  placeholder="Id" (input)="userID=$event.target.value">
<input type="submit" value="Consultar Juez">
</div>

<br>

<div>
  Id Juez:
  <input  placeholder="Id" (input)="userID=$event.target.value">

  Nombre(s):
 <input  placeholder="Nombre" (input)="userID=$event.target.value">

  Paterno:
 <input  placeholder="Paterno" (input)="userID=$event.target.value">

 Materno:
 <input  placeholder="Materno" (input)="userID=$event.target.value">

 <input type="submit" value="Actualizar">
</div>

<table  border=1 style="width:80%">
  <tr style='text-decoration: underline'>
    <th>ContactId</th>
    <th>ContactTypeId</th>
    <th>ContactIdFullName</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>LastName2</th>
    <th>ShortName</th>
    <th>NickName</th>
    <th>ContactStatus</th>
  </tr>
  <tr>
    <th>1998</th>
    <th>102</th>
    <th>Francisco Lima Rosas</th>
    <th>Francisco</th>
    <th>Lima</th>
    <th>Rosas</th>
    <th>Francisco Lima Rosas</th>
    <th></th>
    <th>A</th>
  </tr>
  </table>