<div style='text-align:center'>
<ul class="menu">
  <li><a class="selected" routerLink="/catalogs/notary">Notarios</a></li>
  <li><a class="selected" routerLink="/catalogs/judges">Jueces</a></li>
  <li><a class="selected" routerLink="/catalogs/notaryOffice">Notarias</a></li>
  <li><a class="selected" routerLink="/catalogs/judicialOffice">Juzgados</a></li>
  <li><a class="selected" routerLink="/catalogs/relations">Relaciones</a></li>
  <li><a class="selected" routerLink="/catalogs/cities">Ciudades</a></li>
  <li><a class="selected" routerLink="/catalogs/users">Usuarios</a></li>
  <li><a class="selected" routerLink="/catalogs/recordingsActs">Actos</a></li>
  <li><a class="selected" routerLink="/catalogs/roles">Roles</a></li>
</ul>
</div>

<router-outlet></router-outlet>