<catalogs-component></catalogs-component>
<h5>Catalogos - Nuevo Acto Juridico</h5>
<div>
  Acto Juridico  a Consultar:
<input  placeholder="Acto Juridico" (input)="userID=$event.target.value">
<input type="submit" value="Consultar Acto Juridico">
</div>
<table  border=1 style="width:90%">
  <tr style='text-decoration: underline'>
    <th>TypeId</th>
    <th>TypeName</th>
    <th>BaseTypeId</th>
    <th>ClassName</th>
    <th>DisplayName</th>
    <th>DisplayPluralName</th>
    <th>TypeExtData</th>
    <th>TypeKeyWords</th>
    <th>TypeStatus</th>
  </tr>
    <tr>
    <th>2203</th>
    <th>ObjectType.RecordingAct.DomainAct.01</th>
    <th>2030</th>
    <th>Empiria.Land.Registration.DomainAct</th>
    <th>Compraventa</th>
    <th>Compraventas</th>
    <th>Compraventa</th>
    <th> "AppliesTo" : "RealEstate", "ResourceStatus" : "Both",  "Roles": [1201], "ChainedAct": 2257, "RecordingSectionId" : 1051, "EditOperationAmount": true, "EditAppraisalAmount": true, "FinancialConcepts" : [850], "AllowsPartitions": true, "IsActive" : true</th>
    <th>A</th>
  </tr>
</table> 
<br>


<div>
Acto Juridico:
<input  placeholder="Acto Juridico" (input)="userID=$event.target.value">

Tipo de Acto:
<input  placeholder="Tipo de Acto" (input)="userID=$event.target.value">

Nombre en Plural:
<input  placeholder="Nombre en Plural" (input)="userID=$event.target.value">

Aplica a:
<input  placeholder="Aplica a" (input)="userID=$event.target.value">

Sección de Registro:
<input  placeholder="Sección de Registro" (input)="userID=$event.target.value">
<br>
Conceptos Código Financiero:
<input  placeholder="Conceptos Código Financiero" (input)="userID=$event.target.value">

Aplica a Fracciones:
<input  placeholder="Aplica a Fracciones" (input)="userID=$event.target.value">

Activo:
<input  placeholder="Activo" (input)="userID=$event.target.value">

<input type="submit" value="Guardar Acto Juridico">
</div>

<table  border=1 style="width:90%">
  <tr style='text-decoration: underline'>
    <th>TypeId</th>
    <th>TypeName</th>
    <th>BaseTypeId</th>
    <th>ClassName</th>
    <th>DisplayName</th>
    <th>DisplayPluralName</th>
    <th>TypeExtData</th>
    <th>TypeKeyWords</th>
    <th>TypeStatus</th>
  </tr>
    <tr>
    <th>2204</th>
    <th>ObjectType.RecordingAct.DomainAct.02</th>
    <th>2030</th>
    <th>Empiria.Land.Registration.DomainAct</th>
    <th>Donación simple y pura</th>
    <th>Donaciones simples y puras</th>
    <th>Donación simple y pura</th>
    <th>  "AppliesTo" : "RealEstate", "ResourceStatus" : "Both", "ChainedAct": 2257, "Roles": [1203], "RecordingSectionId" : 1051, "FinancialConcepts" : [850, 860, 864], "AllowsPartitions": true, "IsActive" : true </th>
    <th>A</th>
  </tr>
</table> 
<br>
<div>
  Id de Acto Juridico:
 <input  placeholder="Id" (input)="userID=$event.target.value">

 <input type="submit" value="Consultar Acto Juridico">
 </div>

 <br>
 
<div>
 Id de Acto Juridico:
<input  placeholder="Id" (input)="userID=$event.target.value">

Acto Juridico:
<input  placeholder="Acto Juridico" (input)="userID=$event.target.value">

Tipo de Acto:
<input  placeholder="Tipo de Acto" (input)="userID=$event.target.value">

Nombre en Plural:
<input  placeholder="Nombre en Plural" (input)="userID=$event.target.value">

Aplica a:
<input  placeholder="Aplica a" (input)="userID=$event.target.value">

Sección de Registro:
<input  placeholder="Sección de Registro" (input)="userID=$event.target.value">
<br>
Conceptos Código Financiero:
<input  placeholder="Conceptos Código Financiero" (input)="userID=$event.target.value">

Aplica a Fracciones:
<input  placeholder="Aplica a Fracciones" (input)="userID=$event.target.value">

Activo:
<input  placeholder="Activo" (input)="userID=$event.target.value">

<input type="submit" value="Actualizar">
</div>
<table  border=1 style="width:90%">
  <tr style='text-decoration: underline'>
    <th>TypeId</th>
    <th>TypeName</th>
    <th>BaseTypeId</th>
    <th>ClassName</th>
    <th>DisplayName</th>
    <th>DisplayPluralName</th>
    <th>TypeExtData</th>
    <th>TypeKeyWords</th>
    <th>TypeStatus</th>
  </tr>
    <tr>
    <th>2206</th>
    <th>ObjectType.RecordingAct.DomainAct.12</th>
    <th>2030</th>
    <th>Empiria.Land.Registration.DomainAct</th>
    <th>Cesión de derechos de propiedad</th>
    <th>Cesiones de derechos de propiedad</th>
    <th>Cesión de derechos de propiedad</th>
    <th>  "AppliesTo" : "RealEstate", "ResourceStatus" : "Registered", "ChainedAct": 2257, "Roles": [1207],  "RecordingSectionId" : 1051, "FinancialConcepts" : [850, 860, 864],  "AllowsPartitions": true, "IsActive" : true</th>
    <th>A</th>
  </tr>
</table> 
<br>
