<catalogs-component></catalogs-component>
<h5>Catalogos - Alta de Notarias Públicas</h5>
<div>
  Notaría u Oficina a Consultar:
<input size="65" placeholder="Oficina" (input)="userID=$event.target.value">
<input type="submit" value="Consultar Oficina">
</div>

<table  border=1 style="width:80%">
  <tr style='text-decoration: underline'>
    <th>ContactId</th>
    <th>ContactTypeId</th>
    <th>ContactIdFullName</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>LastName2</th>
    <th>ShortName</th>
    <th>NickName</th>
    <th>ContactStatus</th>
  </tr>
    <tr>
    <th>593</th>
    <th>2001</th>
    <th>Notaría 03 Hidalgo, Tlaxcala</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Notaría 03 Hidalgo, Tlaxcala</th>
    <th></th>
    <th>A</th>
  </tr>
</table> 

<br>

<div>
Oficina:
<input  placeholder="Oficina" (input)="userID=$event.target.value">

Número:
<input  placeholder="Número" (input)="userID=$event.target.value">

Ciudad, Edo.:
<input  placeholder="Ciudad, Edo." (input)="userID=$event.target.value">

Nombre para Mostrar:
<input  placeholder="Nombre" (input)="userID=$event.target.value">

Tipo:
<input  placeholder="Tipo" (input)="userID=$event.target.value">
<input type="submit" value="Guardar Oficina">
</div>

<table  border=1 style="width:80%">
<tr style='text-decoration: underline'>
  <th>ContactId</th>
  <th>ContactTypeId</th>
  <th>ContactIdFullName</th>
  <th>FirstName</th>
  <th>LastName</th>
  <th>LastName2</th>
  <th>ShortName</th>
  <th>NickName</th>
  <th>ContactStatus</th>
</tr>
  <tr>
  <th>1783</th>
  <th>2001</th>
  <th>Notaría 12 Puebla, Pue.</th>
  <th></th>
  <th></th>
  <th></th>
  <th>Notaría 12 Puebla, Pue.</th>
  <th></th>
  <th>A</th>
</tr>
</table> 

<div>
  Id Oficina:
<input  placeholder="Id" (input)="userID=$event.target.value">
<input type="submit" value="Consultar Oficina">
</div>

<br>

<div>
  Id Oficina:
  <input  placeholder="Id" (input)="userID=$event.target.value">

  Oficina, número, Ciudad, edo.:
 <input  placeholder="Nombre" (input)="userID=$event.target.value">

  Nombre para Mostrar:
 <input  placeholder="Nombre" (input)="userID=$event.target.value">

 Tipo:
 <input  placeholder="Tipo" (input)="userID=$event.target.value">

 Status:
 <input  placeholder="Tipo" (input)="userID=$event.target.value">

 <input type="submit" value="Actualizar">
</div>
<table  border=1 style="width:80%">
  <tr style='text-decoration: underline'>
    <th>ContactId</th>
    <th>ContactTypeId</th>
    <th>ContactIdFullName</th>
    <th>FirstName</th>
    <th>LastName</th>
    <th>LastName2</th>
    <th>ShortName</th>
    <th>NickName</th>
    <th>ContactStatus</th>
  </tr>
    <tr>
    <th>1783</th>
    <th>2001</th>
    <th>Notaría 12 Puebla, Pue.</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Notaría 12 Puebla, Pue.</th>
    <th></th>
    <th>A</th>
  </tr>
  </table> 